<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotusy.android.sdk.test" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountApis"
            android:label="@string/title_activity_account_apis" >
        </activity>
        <activity
            android:name=".BusinessApis"
            android:label="@string/title_activity_business_apis" >
        </activity>
        <activity
            android:name=".CommentApis"
            android:label="@string/title_activity_comment_apis" >
        </activity>
        <activity
            android:name=".ImageApis"
            android:label="@string/title_activity_image_apis" >
        </activity>
    </application>

</manifest>
